body {
    background-color: black;
    color: #00ffcc;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

.container {
    text-align: center;
    border: 1px solid #00ffcc;
    padding: 30px;
    width: 400px;

    /* mobile */
    max-width: 100%;
    box-sizing: border-box;
}

input {
    background: black;
    border: 1px solid #00ffcc;
    color: #00ffcc;
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    max-width: 100%;
}

button {
    background: black;
    border: 1px solid #00ffcc;
    color: #00ffcc;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background: #00ffcc;
    color: black;
}

#hint {
    margin-top: 15px;
    color: rgb(255, 255, 255);
}

#introOverlay {
    position: fixed;
    inset: 0;
    background: black;
    color: #00ffcc;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 999;
}

.introBox {
    border: 1px solid #00ffcc;
    padding: 30px;
    width: 400px;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;
}

.introBox button {
    text-align: center;
}

/* small screen */

@media (max-width: 100vw) {
    .container,
    .introBox {
        padding: 20px;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
        margin: 6px 0;
        padding: 8px;
    }

    h1 {
        font-size: 18px;
    }
}